/* For stuff centered by the main table */
#centerInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#centerInfo td {
    vertical-align: middle;
}

#centerInfo h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

#centerInfo p {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

/* For big 'ol Ralph Drake */
#name {
    margin-bottom: 10px;
}

/* For content links */
#links {
    margin-right: 15px;
}

#links a {
    color: #4664BE;
}

#links a:hover {
    text-decoration: underline;
}

#links a:visited {
    color: #475EDB;
}

/* For mobile content links */
#links-mobile {
    margin-bottom: 15px;
}

#links-mobile a {
    color: #4664BE;
}

#links-mobile a:hover {
    text-decoration: underline;
}

#links-mobile a:visited {
    color: #475EDB;
}

/* For JQuery magic */
.hidden {
    display: none;
}

.name-mobile {
    margin-bottom: 50px;
}